/* ヘッダー＆KV littlemermaid_Page*/
.littlemermaid_Page {
    background-color: #E4DAC9;
    height: 820px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 40px;
}

header {
    width: 1285px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.abailable_store {
    z-index: 30;
}

.abailable_store span {
    font-size: 12px;
    position: absolute;
    color: #B00723;
    top: -7px;
    left: calc(50% - 25px);
    background-color: #E4DAC9;
    padding: 0 5px;
}
.abailable_store dd {
    font-size: 16px;
}
dl{
    width: 420px;
    height: auto;
    position: relative;
}
dt {
    display: flex;
    justify-content: center;
    color: #B00723;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 21px;
    background-color: #B00723;
    height: 2px;
    position: relative;
    z-index: 40;
}
dt span{
    color: #B00723;
    background-color: #E4DAC9;
    position: absolute;
    top: -15px;
    width: 100px;
    text-align: center;
}
dd {
    text-align: center;
    color: #B00723;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 8px;
    position: relative;
    z-index: 40;
}

a {
    display: flex;
    justify-content: center;
}

.logo img {
    width: calc(379px / 2);
    margin-top: 100px;
    margin-bottom: 22px;
}

h1 img {
    width: calc(867px / 2);
    height: auto;
    margin-bottom: 30px;
    position: relative;
    z-index: 40;
}

.priceboard img {
    width: calc(865px / 2);
    height: auto;
    margin-top: 20px;
    position: relative;
    z-index: 40;
}

#subscriptionbutton a span .icon {
    width: 10px;
    height: 16px;
    box-sizing: border-box;
    background-image: url(https://jre.favy.jp/assets/jre/custom/shops/little…a05e5d7d4650b71104a0141f844e56f73bc0ce2a2f4d.webp);
    z-index: 40;
}

.text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: #B00723;
    background-color: #B00723;
    border-radius: 40px;
    padding: 20px 60px;
    margin-top: 40px;
    z-index: 40;
}

.breadimg{
    height: 826px;
    width: 100%;
    background-image: url(./img/bg_signboardHeader-SP-64b177427b55d32769f12ff0403e9c722a050c2926948caf052036361d863211.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    position: absolute;
    right: 0;
    transform: scale(-1, 1);
    z-index: 20;
}

/* チェックポイントここから */
.point_description {
    width: 60vw;
    height: auto;
    padding: 0 7% 0 5%;
}

.POINT {
    font-size: 20px;
    font-weight: bold;
    color: #B00723;
    ;
}

.number {
    font-size: 70px;
    font-weight: bold;
    color: #B00723;
    margin-bottom: 12px;
}

h2 {
    font-size: 42px;
    font-weight: bold;
    color: #B00723;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: black;
    line-height: 1.8;
}

.annotation {
    font-size: 10px;
    color: #B00723;
}

.point_img {
    width: 60%;
    height: auto;
}

.point_1 {
    width: 100vw;
    height: auto;
    margin-top: 150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.point_2 {
    width: 100vw;
    height: auto;
    margin-top: 70px;
    display: flex;
    justify-content: flex-end;
}

.point_2 .point_description {
    padding: 0 5% 0 7%;
}

.point_3 {
    width: 100vw;
    height: auto;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
}

/* オーダーの仕方ここから */
/* オーダーの仕方　左側 */
.how_to_order img {
    width: 100vw;
    height: auto;
}

.how_to_order_box {
    width: 100vw;
    height: auto;
    padding: 40px;
    background-color: #E4DAC9;
    margin-top: -6px;
}

.littlemermaid_plan2 {
    width: 50%;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.littlemermaid_plan2 .logo img {
    width: calc(379px / 2);
    margin-bottom: 22px;
    margin-top: 0;
}

.littlemermaid_plan2 h1 img {
    width: 444px;
}

.plan2_header p {
    color: #B00723;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

/* オーダーの仕方 右側 */
.sliced_bread_imgbox {
    width: 50%;
    height: 100%;
    padding: 20px;
    margin-left: 20px;
}

.sliced_bread {
    width: 100%;
    height: auto;
}

.how_to_order_box {
    display: flex;
}

/* オーダーの仕方 メイン部分 */
.how_to_order_box_2 {
    width: 100vw;
    height: auto;
    background-color: #E4DAC9;
    padding: 100px 100px 170px;
}

.how_to_order_title {
    margin: 0 auto;
}

.how_to_order_title span {
    font-size: 18px;
    text-align: center;
}

.how_to_order_title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 250px;
}

.how_to_order_box_2small {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.how_to_order_box_2small .box {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.how_to_order_box_2small .box span {
    font-size: 13px;
    color: #B00723;
    text-align: center;
    padding: 0;
}

.how_to_order_box_2small .box h3 {
    font-size: 48px;
    color: #B00723;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin-bottom: 8px;
}

.how_to_order_box_2small .box .description {
    font-size: 25px;
    color: #B00723;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding-top: 15px;
}

.how_to_order_box_2small .box p {
    font-size: 20px;
    line-height: 1.8;
}
.how_to_order_box_2small img {
    width: 50px;
    height: 50px;
    transform: rotate( -90deg );
}

.how_to_order_box_2small .box img {
    width: 90%;
    height: auto;
    margin: 0 auto 25px;
    transform: rotate(0deg);
}

footer{
    width: 100vw;
    height: 80px;
    background-color: #B00723;
    padding: 20px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
span{
    color: #E4DAC9;
    font-size: 20px;
    font-weight: bold;
}
.arrow{
    align-self: center;
}
/* ここからレスポンシブ対応 */
@media screen and (max-width: 768px){ 

   /* ヘッダー&KV */
   .littlemermaid_Page{
    /* height: 700px; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
   }
   .kv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 40px;
}
    .littlemermaid_Page header .logo picture img{
    width: 140px;
    height: auto;
    margin: 0 auto 30px;
    }
    h1 img{
        width: 320px;
        height: auto;
        margin: 0 auto 30px;
    }
    dl{
        width: 100%;
    }
    dl span{
        font-size: 10px;
        width: 50px;
        margin-top: 7px;
    }
    dd{
        font-size: 10px;
        font-weight: bold;
    }
    dt{
        font-size: 10px;
    }
    .littlemermaid_Page .priceboard img{
        width: 320px;
        height: auto;
        margin: 0 auto;
    }
    .text{
        font-size: 16px;
        width: 300px;
        padding: 10px;
        text-align: center;
    }
    header{
        display: flex;
        align-items: center;
        margin: 40px 25px 0;
    }
    .breadimg{
        height: 215px;
        width: 290px;
        background-position: left bottom;
        left: 0;
        bottom: 0;
        transform: scale(1,1);
    }
     /* オーダーの仕方メイン部分 */
    .POINT{
        font-size: 11px;
    }
    .number{
        font-size: 45px;
    }
    h2{
        font-size: 24px;
    }
    .description{
        font-size: 12px;
    }
    .point_description{
        width: 100vw;
    }
    .point_1{
        display: flex;
        flex-direction: column;
    }
    .point_2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* align-content: space-between; */
    }
    .point_2 .point_img{
        align-self: flex-end;
    }
    .point_3{
        display: flex;
        flex-direction: column;
    }
    .point_1 .point_img{
        padding-top: 30px;
        width: 80vw;
    }
    .point_2 .point_img{
        padding-top: 30px;
        width: 80vw;
    }
    .point_3 .point_img{
        padding-top: 30px;
        width: 80vw;
    }
    /* オーダーの仕方ヘッダー部分 */
    .how_to_order{
        margin-top: 45px;
        padding: 70px 0 0;
    }
    .how_to_order_box_2small .box{
        width: 90%;
    }
    .littlemermaid_plan2{
        width: 100vw;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .how_to_order_box .littlemermaid_plan2 .logo img{    
        width: 140px;
        height: auto;
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
    }
    .how_to_order_box .littlemermaid_plan2 h1 img{
        display: block;
        width: 296px;
        height: auto;
        margin: 0 auto 40px;
    }
    .how_to_order_box .littlemermaid_plan2 .plan2_header p{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    }
    .how_to_order_box .littlemermaid_plan2 .plan2_header .abailable_store span{
        font-size: 10px;
    }
    .how_to_order_box .littlemermaid_plan2 .plan2_header .abailable_store dd{
        font-size: 12px;
    }
    .how_to_order_box .littlemermaid_plan2 .plan2_header #subscriptionbutton .text{
        font-size: 16px;
        width: 300px;
        padding: 10px 0;
    }
    .how_to_order_box{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 100px ;
    }
    .sliced_bread_imgbox{
        width: 300px;
        height: auto;
        margin: 0;
    }
    .sliced_bread{
        width: 100%;
        height: auto;
        padding: 0;

    }
    /* オーダーの仕方メイン部分 */
    .how_to_order_box_2{
        padding: 0 20px 50px;
    }
    .how_to_order_box_2 h2{
        font-size: 20px;
    }
    .how_to_order_box_2small .box h3{
        font-size: 45px;
    }
    .how_to_order_box_2small .box p {
        font-size: 12px;
    }
    .how_to_order_box_2small .box .description{
        font-size: 14px;
    }
    .how_to_order_box_2 .how_to_order_box_2small .box .box_description .description p{
        font-size: 12px;
    }
    .how_to_order_box_2small .box img{
        width: 150px;
        height: 150px;
    }
    .how_to_order_box_2small{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .how_to_order_box_2small .arrow{
        width: 30px;
        height: 30px;
        transform: rotate( 0deg );
        margin: 30px 0;
    }
    .how_to_order_box_2 h2.how_to_order_title{
        margin-bottom: 50px;
    }
}/* レスポンシブ対応ここまで */
